<section class="">
    <h1>Let's talk!</h1>

    <p>You have a data problem and you would like us to work together? Just drop me an email explaining your problem and we'll setup a call to investigate.</p>

    <form action="https://getsimpleform.com/messages?form_api_token=39cfea353b831a8b6b03d39e36422387" method="post">
	<input type='hidden' name='redirect_to' value='//stellasia.github.io/thank-you' />
	<input type='text' name='name' placeholder="Your name" />
	<input type='text' name='email' placeholder="Your reply email" />
	<textarea name='Content' placeholder="Your message"></textarea> 
	<input type='submit' value='Send message' />
    </form>
</section>
