/**
 * # defaults
 */

$page_background_color: #222;
$content_background_color: #EEE;
$header_background_color: #222;
$link_color: #555;
$default_font_color: #222;
$header_font_color: #EEE;

body {
    color: $default_font_color;
    background-color: $page_background_color;
}

a {
    color: $link_color;
    cursor: pointer;
}

p.clear {
    clear: both;
}

.page {
    width: 70%;
    margin: 0 auto;
    background-color: $content_background_color;
    overflow: auto;
    header {
        display: block;
        position: relative;
        top: 0;
        background-color: $header_background_color;
        color: $header_font_color;
        overflow: hidden;
        margin-bottom: 3em;

        img {
            position: relative;
            width: 100px;
            float: left;
        }
        hgroup {
            position: relative;
       	    top: 18px;
    	    left: 10px;
 	    a {
	        text-decoration: none;
	        color: $header_font_color;
	    }
        }
        nav {
            float: right;
	    margin: 0;
    	    padding: 0;
   	    li {
	        display: inline;
  	        list-style: none;
	        margin-left: 1.1em;
		margin-right: 20px;
		font-size: 1.5em;
	    }
        }   
    }
    .content {
        width: 79%;
        float: right;
	margin-left: 10px;
    }
    .asides {
    	width: 19%;
        position: relative;
        top: 5px;
    	left: 5px;
	.social-list {
	    padding-bottom: 1.1em;
	    li {
                padding: 0.5em;
	    }
        }
       .icon > svg {
            height: 0.9em;
            width: 0.9em;
        }	
    }
    .content {
    }
    footer {
        background-color: $page_background_color;
	color: $header_font_color;
        text-align: center;
	font-size: 0.7em;
	a {
	    color: $header_font_color;
        }
    }
}