/**
 * # home
 */


.list {
    border-bottom: 1px solid black;
    margin-bottom: 2em;
    padding: 1.2em 0;

    h1 {
        span {
	   border-bottom: 1px solid black;
        }
	margin-bottom: 1.1em;
	font-size: 2em;
    }
}