/**
 * # home
 */


.list {
    margin-bottom: 2em;
    padding: 1.2em 0;

    h1 {
        font-variant: small-caps;
	margin-bottom: 1.1em;
	font-size: 2em;
        span {
	   border-bottom: 1px solid black;
        }
	a {
	    text-decoration: none;
        }
    }
    h2 {
        font-variant: small-caps;
	margin-top: 1.1em;
	font-size: 1.1em;
    }
    ul, li {
        list-style: none;
        a {
	   text-decoration: none;
        }
    }
}